  ---------------------------------------------------------------------------
  Network service                                   Port           State
  ---------------------------------------------------------------------------
  {% for service in services -%}
  {{ service.service_name.ljust(49) }} {{ ((service.port or '----')|string).ljust(14) }} {{ service.state or '----' }}
  {% endfor -%}
  ---------------------------------------------------------------------------