  -----------------------------------------------------------------------------
  F/S/P                   : {{ fsp }}
  ONT-ID                  : {{ ont_id}}
  Control flag            : {{ control_flag }}
  Run state               : {{ run_state }}
  Config state            : {{ config_state }}
  Match state             : {{ match_state }}
  ONT LLID                : {{ llid or '-' }}
  ONT distance(m)         : {{ distance_m or '-' }}
  ONT last distance(m)    : {{ last_distance_m or '-' }}
  ONT RTT(TQ)             : {{ rtt_tq or '-' }}
  Memory occupation       : {{ memory_occupation or '-' }}
  CPU occupation          : {{ cpu_occupation or '-' }}
  Temperature             : {{ temperature or '-' }}
  Authentic type          : {{ authentic_type or '-' }}
  {% if authentic_type == 'SN-auth' -%}
  SN                      : {{ sn or '-' }}
  {% else -%}
  MAC                     : {{ mac or '-' }}
  {% endif -%}
  Management mode         : {{ management_mode or '-' }}
  Software work mode      : {{ software_work_mode or '-' }}
  Multicast mode          : {{ multicast_mode or '-' }}
  Description             : {{ description }}
  Last down cause         : {{ last_down_cause or '-' }}
  Last up time            : 2023-01-05 08:56:12+08:00
  Last down time          : 2023-01-05 08:55:28+08:00
  Last dying gasp time    : 2023-01-05 08:55:28+08:00
  ONT online duration     : 0 day(s), 0 hour(s), 3 minute(s), 0 second(s)
  Type D support          : {{ type_d_support }}
  Isolation state         : {{ isolation_state }}
  ONT NNI type            : {{ nni_type}}
  ONT actual NNI type     : {{ actual_nni_type  or '-' }}
  Last ONT actual NNI type: {{ last_actual_nni_type or '-' }}
  Interoperability-mode   : {{ interoperability_mode }}
  FEC upstream state      : {{ fec_upstream_state }}
  VS-ID                   : {{ vs_id }}
  VS name                 : {{ vs_name }}
  Global ONT-ID           : {{ global_ont_id }}
  Fiber route             : {{ Fiber_route or 'none'}}
  -----------------------------------------------------------------------------
  Line profile ID      : {{ line_profile.profile_id }}
  Line profile name    : {{ line_profile.profile_name }}
  -----------------------------------------------------------------------------
  FEC upstream switch :{{ line_profile.fec_upstream_switch|capitalize }}
  OMCC Encrypt switch :{{ line_profile.omcc_encrypt_switch|capitalize }}
  Qos mode            :{{ line_profile.qos_mode|capitalize }}
  Mapping mode        :{{ line_profile.mapping_mode|capitalize }}
  Tr069 management    :{{ line_profile.tr069_management|capitalize }}
  -----------------------------------------------------------------------------
  Notes: * indicates Discrete TCONT(TCONT Unbound)
  -----------------------------------------------------------------------------
  {% for tcont in t_conts -%}
  <T-CONT   {{tcont.tcont_id }}>          DBA Profile-ID:{{ tcont.dba_profile_id }}
  {% if tcont.gems|length > 0 -%}{% for gem in tcont.gems %}  <Gem Index {{ gem.gem_id }}>
    ------------------------------------------------------------------------
    |Serv-Type:{{gem.service_type.upper()}} |Encrypt:{{gem.encrypt}} |Cascade:{{gem.cascade}} |GEM-CAR:{{gem.gem_car or '-'}}            |
    |Upstream-priority-queue:{{(gem.upstream_priority_queue or '-').ljust(2)}} |Downstream-priority-queue:{{gem.downstream_priority_queue or '-'}}       |
    ------------------------------------------------------------------------
     Mapping VLAN  Priority Port   Port  Bundle  Flow  Transparent
     index                  type   ID    ID      CAR
    ------------------------------------------------------------------------
    {%- for mapping in gem.mappings %}
     {{(mapping.mapping_index|string).ljust(7)}} {{(mapping.vlan|string).ljust(5)}} {{(mapping.priority or '-').ljust(8)}} {{(mapping.port_type or '-').ljust(6)}} {{(mapping.port_id or '-').ljust(5)}} {{(mapping.bundle_id or '-').ljust(7)}} {{(mapping.flow_car or '-').ljust(5)}} {{(mapping.transparent or '-').ljust(10)}}
    {% endfor -%}
    ------------------------------------------------------------------------
  {% endfor -%}
  {% endif -%}
  {% endfor -%}
  -----------------------------------------------------------------------------
  Service profile ID   : {{ service_profile.profile_id }}
  Service profile name : {{ service_profile.profile_name }}
  ----------------------------------------------------------------------------- 
  Port-type     Port-number
  ----------------------------------------------------------------------------- 
  POTS          {{ service_profile.ont_ports.pots|length }}
  ETH           {{ service_profile.ont_ports.eth|length }}
  TDM           {{ service_profile.ont_ports.tdm|length }}
  MOCA          {{ service_profile.ont_ports.moca|length }}
  CATV          {{ service_profile.ont_ports.catv|length }}
  -----------------------------------------------------------------------------
  TDM port type                     : {{ service_profile.tdm_port_type }}
  TDM service type                  : {{ service_profile.tdm_service_type }}
  MAC learning function switch      : {{ service_profile.mac_learning_function_switch }}
  ONT transparent function switch   : {{ service_profile.ont_transparent_function_switch }}
  Multicast forward mode            : {{ service_profile.multicast_forward_mode }}
  Multicast forward VLAN            : {{ service_profile.multicast_forward_vlan or '-' }}
  Multicast mode                    : {{ service_profile.multicast_mode }}
  Upstream IGMP packet forward mode : {{ service_profile.upstream_igmp_packet_forward_mode }}
  Upstream IGMP packet forward VLAN : {{ service_profile.upstream_igmp_packet_forward_vlan or '-' }}
  Upstream IGMP packet priority     : {{ service_profile.upstream_igmp_packet_priority or '-' }}
  Native VLAN option                : {{ service_profile.native_vlan_option }}
  Upstream PQ color policy          : {{ service_profile.upstream_pq_color_policy }}
  Downstream PQ color policy        : {{ service_profile.downstream_pq_color_policy }}
  -----------------------------------------------------------------------------
  Port-type Port-ID QinQmode  PriorityPolicy Inbound     Outbound
  -----------------------------------------------------------------------------
  {% for eth in service_profile.ont_ports.eth -%}
  {{ "ETH".ljust(9) }} {{ (loop.index|string).ljust(7) }} {{ eth.qinqmode.ljust(8) }} {{ eth.prioritypolicy.ljust(14) }} {{ eth.inbound.ljust(11) }} {{ eth.outbound }}
  {% endfor -%}
  -----------------------------------------------------------------------------
  Notes: * indicates the discretely configured traffic profile
  -----------------------------------------------------------------------------
  Port-type Port-ID Dscp-mapping-table-index
  -----------------------------------------------------------------------------
  {% for eth in service_profile.ont_ports.eth -%}
  {{ "ETH".ljust(9) }} {{ (loop.index|string).ljust(7) }} {{ eth.dscp_mapping_table_index }}
  {% endfor -%}
  {% for iphost in service_profile.ont_ports.iphost -%}
  {{ "IPHOST".ljust(9) }} {{ (loop.index|string).ljust(7) }} {{ iphost.dscp_mapping_table_index }}
  {% endfor -%}
  -----------------------------------------------------------------------------
  Port   Port   Service-type Index S-VLAN S-PRI C-VLAN C-PRI ENCAP      S-PRI
  type   ID                                                             POLICY
  -----------------------------------------------------------------------------
  {% for eth in service_profile.ont_ports.eth -%}
    {% if eth.service_type -%}
  {{ "ETH".ljust(6) }} {{ (loop.index|string).ljust(6) }} {{ eth.service_type.ljust(12) }} {{ (eth.index|string).ljust(5) }} {{ (eth.s__vlan|string).ljust(6) }} {{ (eth.s__pri or '-').ljust(5) }} {{ (eth.c__vlan|string).ljust(6) }} {{ (eth.c__pri or '-').ljust(5) }} {{ (eth.encap or '-').ljust(10) }} {{ (eth.s__pri_policy or '-') }}
    {%- endif -%}
  {% endfor %}
  ----------------------------------------------------------------------------- 
  Notes: * indicates transparent attribute of the vlan
  ----------------------------------------------------------------------------- 
  Port-type  Port-ID    IGMP-mode         IGMP-VLAN  IGMP-PRI  Max-MAC-Count
  ----------------------------------------------------------------------------- 
  {% for eth in service_profile.ont_ports.eth -%}
  {{ "ETH".ljust(9) }} {{ (loop.index|string).rjust(8) }}    {{ (eth.igmp__mode or '-').ljust(16) }}  {{ (eth.igmp__vlan or '-').rjust(9) }} {{ (eth.igmp__pri or '-').rjust(9) }}  {{ (eth.max_mac_count or '-').rjust(13) }}
  {% endfor -%}
  -----------------------------------------------------------------------------
  Alarm policy profile ID      : {{ alarm_policy.policy_id }}
  Alarm policy profile name    : {{ alarm_policy.policy_name }}
  ----------------------------------------------------------------------------- 