  ---------------------------------------------------------------------------
  Network service                                   Port           State
  ---------------------------------------------------------------------------
  {% for service, info in services.items() -%}
  {{ service.ljust(49) }} {{ ((info.port or '----')|string).ljust(14) }} {{ info.state or '----' }}
  {% endfor -%}
  ---------------------------------------------------------------------------