  ----------------------------------------------------------------------------- 
  ONT  Rx power  Tx power  OLT Rx ONT  Temperature  Voltage  Current  Distance  
  ID   (dBm)     (dBm)     power(dBm)  (C)          (V)      (mA)     (m)       
  ----------------------------------------------------------------------------- 
  {% for ont in onts -%}
  {{(ont.ont_id|string).rjust(3)}}  {{ (ont.rx_power|string).ljust(8) }}  {{ (ont.tx_power|string).ljust(7) }}  {{ (ont.olt_rx_ont_power|string).ljust(11) }}  {{ (ont.temperature|string).ljust(11) }}  {{ (ont.voltage_v|string).ljust(7) }}  {{ (ont.current_ma|string).ljust(7) }}  {{ (ont.distance_m|string) }}
  {% endfor -%}-----------------------------------------------------------------------------