  -------------------------------------------------------------
  Index               : {{ service_port.index }}
  VLAN ID             : {{ service_port.vlan_id }}
  VLAN attr           : {{ service_port.vlan_attr }}
  Port type           : {{ service_port.port_type }}
  F/S/P               : {{ service_port.fsp }}
  ONT ID              : {{ service_port.ont_id }}
  GEM port index      : {{ service_port.gemport_id }}
  Flow type           : {{ service_port.flow_type }}
  Flow para           : {{ service_port.flow_para }}
  TX                  : 1
  Inbound table name  : M_2.5
  RX                  : 1
  Outbound table name : M_2.5
  Admin status        : enable
  State               : up
  Label               : -
  Priority            : -
  PVC bundle          : no
  Max MAC count       : 1023
  Tag transform       : {{ service_port.tag_transform }}
  Description         :
  Remote description  :
  Service-port bundle : -
  Cos                 : -
  Car-Group           : -
  Static MAC          :
  IP address          :
  Stat. performance   : disable
  Subscriber ID       : -
  -------------------------------------------------------------
  Note: F--Frame, S--Slot, P--Port  
        v/e--vlan/encap  
        Dvlan--double vlan 
        pritag--priority-tagged, 
        ppp--pppoe, ip--ipoe, ip4--ipv4oe, ip6--ipv6oe