  -------------------------------------------------------------------------
  SlotID  BoardName  Status          SubType0 SubType1    Online/Offline
  -------------------------------------------------------------------------
  {% for board in boards -%}
  {{ (board.slotid|string).ljust(6) }}  {{ board.boardname.ljust(9) }}  {{ board.status.ljust(14) }}  {{ board.subtype0.ljust(8) }} {{ board.subtype1.ljust(8) }}    {{ board.online_offline }}
  {% endfor -%}
  -------------------------------------------------------------------------